html, body {
  width: 100%;
  height: 100%;
}

input[type="range"] {
  width: 250px; 
  border: 1px solid grey;
  border-radius: 15px;
}

input[type="text"] {
  width: 35px;
}

button {
  border-radius: 5px;
  outline-style: none;
}

p {
  font-size: 15pt;
  font-weight: 600;
}

